<li class="file-preview" id="<%= fileMetadata.name %>">
    <a href="/preview/<%= fileMetadata.name %>" target="_blank">
        <%= fileMetadata.name %>
    </a>

    <a href="/download/<%= fileMetadata.name %>">Download</a>
    <button class="delete-button">Delete</button>
</li>