<h2>Uploaded Files</h2>
<ul>
    <% if (Object.keys(filesMetadata).length === 0) { %>
        No files uploaded
    <% } else { %>
        <% Object.keys(filesMetadata).forEach(fileName => { %>
            <%- include("_file-preview.ejs", {fileMetadata: filesMetadata[fileName]}); %>
        <% }); %>
    <% } %>
</ul>