<li class="file-preview" id="<%= fileMetadata.name %>">
    <span class="file-name">
        <%= fileMetadata.name %>
    </span>

    <a href="/download/<%= fileMetadata.name %>">Download</a>
    <button class="delete-button">Delete</button>
</li>