<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud HERVY</title>
</head>

<body>
    <h1>Cloud HERVY</h1>
    <p>Upload your files here</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
    </form>
    <h2>Files</h2>
    <ul>
        <% files.forEach(file => { %>
            <li>
                <a href="/download/<%= file %>">
                    <%= file %>
                </a>
            </li>
        <% }); %>
    </ul>
</body>

</html>