<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/6.0.1/autosize.min.js"
        integrity="sha512-OjjaC+tijryqhyPqy7jWSPCRj7fcosu1zreTX1k+OWSwu6uSqLLQ2kxaqL9UpR7xFaPsCwhMf1bQABw2rCxMbg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="js/main.js" defer></script>
    <title>Cloud HERVY</title>
</head>

<body>
    <h1>Cloud HERVY</h1>
    <section>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" name="new file" id="file-input" required>
            <textarea type="text" id="desc-input" name="file desc" placeholder="A short description of your file (optional)"></textarea>
            <button id="upload-button">Upload</button>
        </form>
    </section>
    <section class="uploaded-files">
        <h2>Uploaded files</h2>
        <ul class="uploaded-files-list">
            <% Object.keys(filesMetadata).forEach(fileName => { %>
                <%- include("_file-preview.ejs", {file: filesMetadata[fileName]}) %>
            <% }); %>
        </ul>
    </section>
</body>

</html>